#bottone {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    width: 5%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}